* {
  color: #fff;
}

a {
  color: tomato !important;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.desactive {
  display: none !important;
}
.pokemon_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
.loading {
  display: none;
  background-color: #6c757d;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3b4cca; /* Pokémon blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.modal{
  cursor: pointer;
}

.image:hover {
  transform: rotateY(200deg);
}

.show_element p{
  margin : 0 !important;
}

.error {
  color: red;
  font-size: 15px;
}

.sprite_pokemon {
  width: 100%;
  height: 100%;
  background-color: cadetblue;
}

.card img{
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transition: transform 2s ease;
}

.modal img{
  width: 50%;
  height: 50%;
  transform: scale(1.5);
  transition: transform 3s ease;
}


.modal {
  width: 300px;
  height: 300px;
}

.water{
  background-color: #95ACE6;

}

.bug{
  background-color: #A8B835;
}

.grass{
  background-color: #5ACDBD;
}

.fire{
  background-color: #D03B3B;
}

.normal{
  background-color: #FFE68B;
}

.poison{
  background-color: #A33EA1;
}

.ground{
  background-color: #E0C068;
}

.electric{
  background-color: #c6f6d4;
}

.fairy{
  background-color: #FFC5C5;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0 3px 0 0 black;
}

li{
  font-weight: 600;
}
li:hover{
  text-decoration: underline !important;
  color: tomato;
}
